.identifiant
{
	font-family: red;
	font-size: 50px;
	text-align: center;
}
.mail
{font-family: red;
	font-size: 50px;
	text-align: center;
}
.inscrit
{
	font-family: red;
	font-size: 50px;
	text-align: center;
}	